# Ignore data folder contents (raw datasets, CSV outputs, etc.)
/data/

# Python envs and caches
__pycache__/
*.py[cod]
.env
.venv

# Jupyter
.ipynb_checkpoints/
Untitled*.ipynb

# Byte-compiled / distribution
build/
dist/
*.egg-info/
.vscode/settings.json

# Outputs
figs*/