# Global requirements for sueltas-typography project

PyMuPDF==1.25.1
numpy>=1.25
pandas>=2.0
Pillow>=10.0
scipy>=1.11
pyyaml

torchvision
ninja
yacs
cython
matplotlib
tqdm
opencv-python
scikit-image
scikit-learn
joblib
editdistance
pyclipper
shapely
colorspacious
networkx
umap-learn
